/*generic body styles for mobile first design*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.navlg {
  display: none;
}

.introlarge {
  display: none;
}

.imglarge {
  display: none;
}

.solidlarge {
  display: none;
}

/*nav bar for all styles*/

.nav {
  position: relative;
  top: 0;
  overflow: hidden;
  padding: 3vh;
  width: 100vw;
  height: 10vh;
  margin: auto;
  background-color: white;
  display: inline-block;
  background-color: white;
  z-index: 1;
  text-align: center;
}

.nav ul li {
    display: inline;
    list-style-type: none;
    overflow: hidden;
    color: #5FA686;
    font-size: 4vh;
    padding: 1vw;
}

.nav a:link {
  font-family: 'Satisfy', cursive;
  color: #5FA686;
  text-decoration: none;
}

.nav a:visited {
  font-family: 'Satisfy', cursive;
  color: #5FA686;
  text-decoration: none;
}

.nav a:hover {
  font-family: 'Satisfy', cursive;
  color: #CEE0D2;
  text-decoration: none;
}

.nav a:active {
  font-family: 'Satisfy', cursive;
  color: #CEE0D2;
  text-decoration: none;
}

/*first section for all styles*/

.introbg {
  min-height: 70vh;
  background: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  position: relative;
}

/*palm background section for all styles*/

.imgbg {
  background-color: #CEE0D2;
  background: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 90vh;
  position: relative;
}

/*alternating solid background for all styles*/

.solidbg {
  background-color: #CEE0D2;
  min-height: 90vh;
  width: 100vw;
}

/*divs for main sections for mobile*/

.mobileintrocontent {
  margin: 2vh 1vw;
  padding: 5vh 5vw;
  border-style: none;
  min-height: 75vh;
  position: relative;
}

.mobilesectioncontent {
  margin: 2vh 1vw;
  padding: 5vh 5vw;
  border-style: none;
  min-height: 85vh;
  position: relative;
}

/*footer for all styles*/

.footer {
  padding: 1vh;
  width: 100vw;
  height: 10vh;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  display: inline-block;
  justify-content: space-between;
}

.footer img {
  width: auto;
  height: 5vh;
  margin: 1vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

/*Rounded images for mobile*/

.kate-img {
    border-width: 0px;
    border-radius: 50%;
    width: 50vw;
    margin-bottom: 2vh;
  }

.hobby-img {
    border-width: 0px;
    border-radius: 50%;
    width: 50vw;
    margin-bottom: 2vh;
  }

/*text styles for mobile*/

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 5vh;
  font-style: italic;
  color: black;
}

.h1 {
  margin-bottom: 2vh;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 4vw;
  font-weight: 400;
  color: black;
  text-align: justify;
}

ul li{
  display: inline;
  padding: 1%;
  list-style-type: none;
  overflow: hidden;
}

.image {
  text-align: center;
}

/* MID SIZE DEVICES */

@media (min-width: 700px){

/*Rounded images for medium screens*/

  .kate-img {
      border-width: 0px;
      border-radius: 50%;
      width: 35vw;
    }

  .hobby-img {
      border-width: 0px;
      border-radius: 50%;
      width: 35vw;
    }

/*text style for medium screens*/

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 5vh;
  font-style: italic;
  color: black;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vh;
  font-weight: 400;
  color: black;
  text-align: justify;
}

.p {
  text-align: center;
}

/* LARGE SIZE DEVICES */

@media (min-width: 1200px){

/*sections to hide*/

    .introbg {
      display: none;
    }

    .imgbg {
      display: none;
    }

    .solidbg {
      display: none;
    }

    .nav {
      display: none;
    }

/*main panes to reinsert*/

.navlg {
  position: relative;
  top: 0;
  overflow: hidden;
  padding: 3vh;
  width: 100vw;
  height: 10vh;
  margin: auto;
  background-color: white;
  display: inline-block;
  background-color: white;
  z-index: 1;
  text-align: center;
}

.navlg ul li {
    display: inline;
    list-style-type: none;
    overflow: hidden;
    color: #5FA686;
    font-size: 4vh;
    padding: 1vw;
}

.navlg a:link {
  font-family: 'Satisfy', cursive;
  color: #5FA686;
  text-decoration: none;
}

.navlg a:visited {
  font-family: 'Satisfy', cursive;
  color: #5FA686;
  text-decoration: none;
}

.navlg a:hover {
  font-family: 'Satisfy', cursive;
  color: #CEE0D2;
  text-decoration: none;
}

.navlg a:active {
  font-family: 'Satisfy', cursive;
  color: #CEE0D2;
  text-decoration: none;
}

.introlarge {
  height: 70vh;
  background: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.imglarge {
  background-color: #CEE0D2;
  background: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.solidlarge {
  background-color: #CEE0D2;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

/*pane section contents*/

.introcontent {
  margin: 2vh 1vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}

.sectioncontent {
  margin: 2vh 1vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}

.picheadingdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vw;
}

.textdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vw;
}

/*Rounded images for medium screens*/

    .kate-img {
        border-width: 0px;
        border-radius: 50%;
        width: 20vw;
      }

    .hobby-img {
        border-width: 0px;
        border-radius: 50%;
        width: 20vw;
      }

/*text styles for large screens*/

    h1 {
      font-family: 'Satisfy', cursive;
      font-size: 5vh;
      font-style: italic;
      color: black;
    }

    .h1 {
      text-align: center;
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 1vw;
      font-weight: 400;
      color: black;
      text-align: justify;
    }

  }

}
