/*--font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/



/* MID SIZE DEVICES */

@media (min-width: 630px){

}

/* LARGE SIZE DEVICES */

@media (min-width: 1220px){

}

/* THE REST OF THE OWL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  color: #??????;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.2;
  font-weight: 500;
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.nav {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 5vh;
  display: inline-block;
  overflow: hidden;
  padding: 1% 5%;
  text-align:left;
  background-color: white;
  z-index: 1;
}

.intro {
  height: 90vh;
  background-color: #CEE0D2;
  background-image: url("img/halftoned palms.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  position: relative;
  opacity: 0.2;
}

.lightbg {
  background-color: #CEE0D2;
  background-image: url("img/halftoned palms.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  opacity: 0.2;
}

.darkbg {
  background-color: #5FA686;
  opacity: 0.4;
  height: 100vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.footer {
  vertical-align: middle;
  text-align: center;
}

.icon-img {
 border-width: 0px;
 width: 2em;
}

ul li{
  display: inline;
  padding: 1%;
  list-style-type: none;
  overflow: hidden;
}

h1 {
  font-size: 5em;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

p {
  font-size: 1em;
  font-weight: 500;
  color: black;
}

a {
  font-weight: 700;
  color: white;
  position: relative;

  &:hover{
    opacity: 0.8;
  }

  &:active {
    top: 1px;
  }
}

footer {
  padding: 1% 5%;
  background-color: white;
  height: 5vh;
  margin:  auto;
}
